@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; 
  scroll-behavior: none; 
}



.scrollbar-hide {
  -ms-overflow-style: none;   /* IE / Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}





